.root {
  margin-bottom: 4em;
  position: relative;
}

.root.isOrigin {
  padding-top: 4em;
}

.destination,
.date,
.actions {
  display: inline-block;
  margin: 0.5em;
}

.destination,
.actions {
  flex: 1;
}

.destination {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  text-align: right;
}

.content {
  background-color: $secondary;
  color: #fff;
  display: flex;
  padding: 0.5em;
  position: relative;
  z-index: 0;
}

.content:hover {
  cursor: pointer;
}

.verticalLine {
  border-left: 3px solid $action;
  height: 100%;
  left: 4.5em;
  padding-bottom: 4em;
  position: absolute;
  top: 0;
  z-index: 1;
}

.content.selected {
  background-color: $action;
}
