.root {
  margin-bottom: 4em;
  position: relative;
}

.root.isOrigin {
  padding-top: 4em;
}

.destination,
.date {
  display: inline-block;
  margin: 0.5em;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.destination {
  flex: 1;
}

.destination {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date {
  text-align: right;
}

.content {
  background-color: $secondary;
  color: #fff;
  display: flex;
  padding: 0.5em;
  position: relative;
  z-index: 0;
}

.content:hover {
  cursor: pointer;
}

.verticalLine {
  height: 100%;
  position: absolute;
  z-index: 1;
}

.verticalLine.default {
  border-left: 3px solid $action;
  left: 4.4em;
  padding-bottom: 4em;
  top: 0;
}

.verticalLine.flight {
  border-left: 2px dotted $action;
  height: 94%;
  right: 3.5em;
  top: -94%;
}

.verticalLine.hotels {
  border-left: 2px dotted $action;
  height: 94%;
  right: 1.5em;
  top: 100%;
}

.content.selected {
  background-color: $action;
}

.icon {
  color: #333;
  margin: 0.5em;
}

.icon.enabled {
  color: #fff;
}

.inlineIcon {
  align-items: center;
  background-color: $secondary;
  border-radius: 12px;
  display: flex;
  height: 24px;
  justify-content: center;
  left: -0.9em;
  position: absolute;
  top: 1.2em;
  width: 24px;
}

.content.selected .inlineIcon {
  background-color: $action;
}
