@value colors: "../../styles/colors.css";
@value action from colors;

.root {
  border: none;
  background-color: action;
  color: #fff;
  height: 3em;
  width: 100%;
}

.root:hover {
  background-color: color(#2dbe60 lightness(40%));
  color: #fff;
  cursor: pointer;
}

.root:disabled {
  background-color: #ddd;
}

.root:disabled:hover {
  cursor: default;
}
