@value colors: "../../styles/colors.css";
@value danger from colors;

.root {
  width: 100%;
}

.label {
  display: block;
  font-weight: 500;
  margin: 0.8em 0 .4em;
}

.input {
  border: 1px solid #c8d0d7;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.5em 0.5em 0.5em;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input.required {
  border: 2px solid danger;
}

.inputContainer {
  position: relative;
}

.requiredIcon::before {
  content: '*';
}

.requiredIcon {
  color: danger;
  position: absolute;
  right: 3px;
  top: 11px;
}

.icon {
  color: #888;
  position: absolute;
  right: 5px;
  top: 8px;
}
