$primary: #fff;
$secondary: #0084B4;
$action: #2dbe60;

$primaryFont: #878787;
$lightFont: #fff;
$titleFont: #4a4a4a;

$danger: #d9534f;
$dangerHover: #c9302c;

$warning: #ffae42;
$warningHover: #ff980f;
