.template {
  border-right: 4px solid #F8F8F9;
}

.root {
  position: relative;
}

.origin {
  background-color: $action;
  border-radius: 10px;
  height: 20px;
  left: 6.18em;
  position: absolute;
  top: 0;
  width: 20px;
}
