@value colors: "../../../../styles/colors.css";
@value primaryFont, secondary, lightFont from colors;

.link {
  color: primaryFont;
  cursor: pointer;
  display: inline-block;
  font-size: 1.05em;
  letter-spacing: 1px;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: secondary;
  color: lightFont;
}
