.root {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: absolute;
  width: 100%;
}

.column {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.left {
  width: 300px;
}

.main {
  background-color: #F8F8F9;
  flex: 1;
}
