.root {
  flex-direction: column;
}

.journeyRoot {
  display: flex;
  flex-flow: row wrap;
}

.addFlex {
  flex: 1;
  width: auto;
}

.addFull {
  width: 100%;
}

.noJourneys {
  flex: 1;
  margin: 2em 0;
}
