.root {
  display: flex;
  flex-direction: column;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  background-color: red;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.counter {
  height: 50px;
  text-align: center;
}

.count {
  background-color: #000;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin: 0 3px;
  width: 10px;
}

.buttons {
  height: 100px;
}
